{% extends "::base.html.twig" %}

{% block title %}Goodbye :({% endblock %}

{% block body %}
<h1>Goodbye, {{ name }}!</h1>
<a href="{{ path('hello', {name: name}) }}">Say hello...</a>
{% endblock %}
